<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT ADnD2Monster ANY>
<!ATTLIST ADnD2Monster id ID #REQUIRED>
<!ELEMENT Adventure ANY>
<!ATTLIST Adventure id ID #REQUIRED>
<!ELEMENT BaseContent ANY>
<!ATTLIST BaseContent id ID #REQUIRED>
<!ELEMENT BaseLocatableContent ANY>
<!ATTLIST BaseLocatableContent id ID #REQUIRED>
<!ELEMENT Chapter ANY>
<!ATTLIST Chapter id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Map ANY>
<!ATTLIST Map id ID #REQUIRED>
<!ELEMENT MapMarker ANY>
<!ATTLIST MapMarker id ID #REQUIRED>
<!ELEMENT Overlay ANY>
<!ATTLIST Overlay id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>
<!ELEMENT PageSection ANY>
<!ATTLIST PageSection id ID #REQUIRED>
<!ELEMENT PthArtifact ANY>
<!ATTLIST PthArtifact id ID #REQUIRED>
<!ELEMENT PthMonster ANY>
<!ATTLIST PthMonster id ID #REQUIRED>
<!ELEMENT PthNPC ANY>
<!ATTLIST PthNPC id ID #REQUIRED>
<!ELEMENT Reference ANY>
<!ATTLIST Reference id ID #REQUIRED>
<!ELEMENT ReferencesFolder ANY>
<!ATTLIST ReferencesFolder id ID #REQUIRED>
<!ELEMENT World ANY>
<!ATTLIST World id ID #REQUIRED>
<!ELEMENT WorldFolder ANY>
<!ATTLIST WorldFolder id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1065" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-08-06T22:58:38" updateDate="2013-08-16T22:12:31" nodeName="HomePage" urlName="homepage" path="-1,1065" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Home">
    <WorldFolder id="1066" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2013-08-06T22:58:38" updateDate="2013-08-16T22:12:31" nodeName="Worlds" urlName="worlds" path="-1,1065,1066" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="WorldFolder">
      <World id="1067" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2013-08-06T22:58:38" updateDate="2013-09-03T21:46:42" nodeName="BlackDragon" urlName="blackdragon" path="-1,1065,1066,1067" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="World">
        <title>The Black Dragon Test World</title>
        <subtitle>The Black Dragon Games Development world for testing purposes</subtitle>
        <image>3115</image>
        <copyright>Copyright {0} Black Dragon Games</copyright>
        <Adventure id="1068" parentID="1067" level="4" creatorID="0" sortOrder="0" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="adv1" urlName="adv1" path="-1,1065,1066,1067,1068" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Adventure">
          <title>The Evil Tower of Evil</title>
          <subtitle>An AD&amp;D 2nd edition adventure for 4-6 1st level characters </subtitle>
          <image />
          <rpgSystem><![CDATA[AD&D 2nd Ed.]]></rpgSystem>
          <body><![CDATA[]]></body>
          <Chapter id="1069" parentID="1068" level="5" creatorID="0" sortOrder="0" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="Introduction" urlName="introduction" path="-1,1065,1066,1067,1068,1069" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Chapter">
            <title>Introduction</title>
            <subtitle>Introduction to The Evil Tower of Evil</subtitle>
            <image />
            <Page id="1070" parentID="1069" level="6" creatorID="0" sortOrder="0" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="Background" urlName="background" path="-1,1065,1066,1067,1068,1069,1070" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1090" nodeTypeAlias="Page">
              <title>Background</title>
              <subtitle>The Background to the Adventure</subtitle>
              <image>2098</image>
              <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
              <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
              <mapLink>1083</mapLink>
              <isFirstPage>1</isFirstPage>
              <PageSection id="2093" parentID="1070" level="7" creatorID="0" sortOrder="0" createDate="2013-08-16T19:35:51" updateDate="2013-08-29T21:15:06" nodeName="Dunloon Castle" urlName="dunloon-castle" path="-1,1065,1066,1067,1068,1069,1070,2093" isDoc="" nodeType="2090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="PageSection">
                <title>The Castle of Dunloon</title>
                <bodyText><![CDATA[<p>This is the famous Castle of <strong>Dunloon</strong>. It is hidden in the hills of Elion</p>]]></bodyText>
                <image>2097</image>
                <imageAlignment><![CDATA[Top]]></imageAlignment>
                <sectionLinks>
                  <links>
                    <link title="Orc Shaman" link="2105" type="internal" newwindow="0" />
                    <link title="A goblin" link="2107" type="internal" newwindow="0" />
                  </links>
                </sectionLinks>
                <titleType><![CDATA[H2]]></titleType>
              </PageSection>
              <PageSection id="2099" parentID="1070" level="7" creatorID="0" sortOrder="1" createDate="2013-08-16T21:16:38" updateDate="2014-08-12T11:23:01" nodeName="OrcShaman" urlName="orcshaman" path="-1,1065,1066,1067,1068,1069,1070,2099" isDoc="" nodeType="2090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="PageSection">
                <title><![CDATA[The Friendly Orc Shaman]]></title>
                <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Something</p>]]></bodyText>
                <image>2098</image>
                <imageAlignment><![CDATA[Left]]></imageAlignment>
                <sectionLinks><![CDATA[[]]]></sectionLinks>
                <titleType><![CDATA[H3]]></titleType>
              </PageSection>
            </Page>
            <Page id="1071" parentID="1069" level="6" creatorID="0" sortOrder="1" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="The Story" urlName="the-story" path="-1,1065,1066,1067,1068,1069,1071" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1090" nodeTypeAlias="Page">
              <title>The Story</title>
              <subtitle>The story of the adventure</subtitle>
              <image />
              <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
              <bodyText><![CDATA[<p><strong>The Story Summary</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
              <mapLink>1083</mapLink>
              <isFirstPage>0</isFirstPage>
            </Page>
            <Page id="1072" parentID="1069" level="6" creatorID="0" sortOrder="2" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="The Darkening Moors" urlName="the-darkening-moors" path="-1,1065,1066,1067,1068,1069,1072" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1090" nodeTypeAlias="Page">
              <title>The Darkening Moors</title>
              <subtitle>Outside the tower, the moors spread for miles</subtitle>
              <image />
              <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
              <bodyText><![CDATA[<p><strong>The Darkening Moors</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
              <mapLink>1083</mapLink>
              <isFirstPage>0</isFirstPage>
            </Page>
          </Chapter>
          <Chapter id="1073" parentID="1068" level="5" creatorID="0" sortOrder="1" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="The Evil Tower of Evil" urlName="the-evil-tower-of-evil" path="-1,1065,1066,1067,1068,1073" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Chapter">
            <title>The Evil Tower of Evil</title>
            <subtitle>The Evil tower where Evil lurks</subtitle>
            <image />
            <Page id="1074" parentID="1073" level="6" creatorID="0" sortOrder="0" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="The Entrance Chamber" urlName="the-entrance-chamber" path="-1,1065,1066,1067,1068,1073,1074" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1090" nodeTypeAlias="Page">
              <title>1. The Entrance Chamber</title>
              <subtitle>Sneaky traps await the adventurers</subtitle>
              <image />
              <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
              <bodyText><![CDATA[<p><strong>The Entrance Chamber</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
              <mapLink>1086</mapLink>
              <isFirstPage>0</isFirstPage>
            </Page>
            <Page id="1075" parentID="1073" level="6" creatorID="0" sortOrder="1" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="The Inner Circle" urlName="the-inner-circle" path="-1,1065,1066,1067,1068,1073,1075" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1090" nodeTypeAlias="Page">
              <title>2. The Inner Circle</title>
              <subtitle>A terrible demon stalks them in the darkness</subtitle>
              <image />
              <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
              <bodyText><![CDATA[<p><strong>The Inner Circle</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
              <mapLink>1086</mapLink>
              <isFirstPage>0</isFirstPage>
            </Page>
            <Page id="1076" parentID="1073" level="6" creatorID="0" sortOrder="2" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="The Stairs Up" urlName="the-stairs-up" path="-1,1065,1066,1067,1068,1073,1076" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1090" nodeTypeAlias="Page">
              <title>3. The Stairs Up</title>
              <subtitle>Gloomy spiralling staircase takes the characters higher</subtitle>
              <image />
              <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
              <bodyText><![CDATA[<p><strong>The Stairs Up</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
              <mapLink>1086</mapLink>
              <isFirstPage>0</isFirstPage>
            </Page>
          </Chapter>
          <Map id="1077" parentID="1068" level="5" creatorID="0" sortOrder="2" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="The Moors" urlName="the-moors" path="-1,1065,1066,1067,1068,1077" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Map">
            <title><![CDATA[The Darkening Moors]]></title>
            <subtitle><![CDATA[A land of dank trouble]]></subtitle>
            <mapFilesPath><![CDATA[/mapmedia/moors/]]></mapFilesPath>
            <MapMarker id="3113" parentID="1077" level="6" creatorID="0" sortOrder="2" createDate="2013-08-29T21:10:52" updateDate="2013-08-29T21:15:06" nodeName="1-Enc1" urlName="1-enc1" path="-1,1065,1066,1067,1068,1077,3113" isDoc="" nodeType="3111" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="MapMarker">
              <x>100</x>
              <y>100</y>
              <link>1072</link>
              <markerType><![CDATA[Point of interest]]></markerType>
            </MapMarker>
            <MapMarker id="3114" parentID="1077" level="6" creatorID="0" sortOrder="3" createDate="2013-08-29T21:14:09" updateDate="2013-08-29T21:15:06" nodeName="2-Enc2" urlName="2-enc2" path="-1,1065,1066,1067,1068,1077,3114" isDoc="" nodeType="3111" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="MapMarker">
              <x>500</x>
              <y>500</y>
              <link>1070</link>
              <markerType><![CDATA[Point of interest]]></markerType>
            </MapMarker>
          </Map>
          <Map id="1080" parentID="1068" level="5" creatorID="0" sortOrder="3" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="The Evil Tower. Level 1" urlName="the-evil-tower-level-1" path="-1,1065,1066,1067,1068,1080" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Map">
            <title><![CDATA[The Evil Tower of Evil. Level 1]]></title>
            <subtitle><![CDATA[The first level of the tower]]></subtitle>
            <mapFilesPath><![CDATA[/mapmedia/tower-level-1/]]></mapFilesPath>
            <Overlay id="1081" parentID="1080" level="6" creatorID="0" sortOrder="0" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="Overlay1" urlName="overlay1" path="-1,1065,1066,1067,1068,1080,1081" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Overlay">
              <title>1. The Entrance Chamber</title>
              <subtitle>The shattered and forbidding entrance chamber</subtitle>
              <image />
              <x>100</x>
              <y>100</y>
              <overlayNumber>1</overlayNumber>
              <overlayType><![CDATA[]]></overlayType>
              <locked>1</locked>
              <sectionLink>1080</sectionLink>
            </Overlay>
            <Overlay id="1082" parentID="1080" level="6" creatorID="0" sortOrder="1" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="Overlay2" urlName="overlay2" path="-1,1065,1066,1067,1068,1080,1082" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Overlay">
              <title>2. The Inner Circle</title>
              <subtitle>At the centre of the tower, a circular chamber awaits</subtitle>
              <image />
              <x>500</x>
              <y>500</y>
              <overlayNumber>2</overlayNumber>
              <overlayType><![CDATA[]]></overlayType>
              <locked>1</locked>
              <sectionLink>1081</sectionLink>
            </Overlay>
            <Overlay id="1083" parentID="1080" level="6" creatorID="0" sortOrder="2" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="Overlay3" urlName="overlay3" path="-1,1065,1066,1067,1068,1080,1083" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Overlay">
              <title>3. The Stairs Up</title>
              <subtitle>The stone stairs here take the adventurers higher</subtitle>
              <image />
              <x>1000</x>
              <y>1000</y>
              <overlayNumber>3</overlayNumber>
              <overlayType><![CDATA[]]></overlayType>
              <locked>1</locked>
              <sectionLink>1082</sectionLink>
            </Overlay>
          </Map>
        </Adventure>
        <Map id="1084" parentID="1067" level="4" creatorID="0" sortOrder="1" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="Valcia" urlName="valcia" path="-1,1065,1066,1067,1084" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Map">
          <title><![CDATA[The Land of Valcia]]></title>
          <subtitle><![CDATA[A big land with lots of adventure in it]]></subtitle>
          <mapFilesPath><![CDATA[/mapmedia/valcia/]]></mapFilesPath>
          <MapMarker id="3112" parentID="1084" level="5" creatorID="0" sortOrder="1" createDate="2013-08-29T21:08:47" updateDate="2013-08-29T21:15:06" nodeName="1-adv1" urlName="1-adv1" path="-1,1065,1066,1067,1084,3112" isDoc="" nodeType="3111" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="MapMarker">
            <x>100</x>
            <y>100</y>
            <link>1068</link>
            <markerType><![CDATA[Adventure]]></markerType>
          </MapMarker>
        </Map>
        <Page id="1086" parentID="1067" level="4" creatorID="0" sortOrder="2" createDate="2013-08-06T22:58:38" updateDate="2013-08-29T21:15:06" nodeName="Introduction" urlName="introduction" path="-1,1065,1066,1067,1086" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1090" nodeTypeAlias="Page">
          <title>Introduction to Valcia</title>
          <subtitle>Introduction to the Land of Valcia</subtitle>
          <image />
          <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
          <bodyText><![CDATA[]]></bodyText>
          <mapLink />
          <isFirstPage>0</isFirstPage>
        </Page>
        <Adventure id="4115" parentID="1067" level="4" creatorID="0" sortOrder="3" createDate="2013-12-22T14:02:25" updateDate="2013-12-22T14:03:24" nodeName="adv2" urlName="adv2" path="-1,1065,1066,1067,4115" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Adventure">
          <title>Adventure2</title>
          <subtitle>Adventure 2 subtitle</subtitle>
          <image />
          <rpgSystem><![CDATA[AD&D 2nd Ed.]]></rpgSystem>
          <body><![CDATA[]]></body>
          <Chapter id="4116" parentID="4115" level="5" creatorID="0" sortOrder="0" createDate="2013-12-22T14:02:37" updateDate="2013-12-22T14:03:24" nodeName="ch1" urlName="ch1" path="-1,1065,1066,1067,4115,4116" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Chapter">
            <title>Chapter 1</title>
            <subtitle>Chapter 1 subtitle</subtitle>
            <image />
          </Chapter>
        </Adventure>
      </World>
    </WorldFolder>
    <ReferencesFolder id="2101" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2013-08-16T22:09:42" updateDate="2013-08-16T22:12:31" nodeName="Refs" urlName="refs" path="-1,1065,2101" isDoc="" nodeType="2100" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ReferencesFolder">
      <ADnD2Monster id="2105" parentID="2101" level="3" creatorID="0" sortOrder="0" createDate="2013-08-16T22:17:10" updateDate="2013-08-27T21:59:01" nodeName="OrcShaman" urlName="orcshaman" path="-1,1065,2101,2105" isDoc="" nodeType="2104" creatorName="admin" writerName="admin" writerID="0" template="2110" nodeTypeAlias="ADnD2Monster">
        <title>Orc Shaman</title>
        <subtitle>This is the friendly orc shaman</subtitle>
        <image>2098</image>
        <thumbnail>2106</thumbnail>
      </ADnD2Monster>
      <ADnD2Monster id="2107" parentID="2101" level="3" creatorID="0" sortOrder="1" createDate="2013-08-23T21:38:27" updateDate="2013-08-27T21:59:10" nodeName="Goblin" urlName="goblin" path="-1,1065,2101,2107" isDoc="" nodeType="2104" creatorName="admin" writerName="admin" writerID="0" template="2110" nodeTypeAlias="ADnD2Monster">
        <title>Goblin</title>
        <subtitle>A goblin</subtitle>
        <image />
        <thumbnail>2108</thumbnail>
      </ADnD2Monster>
    </ReferencesFolder>
  </Home>
</root>