<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Adventure ANY>
<!ATTLIST Adventure id ID #REQUIRED>
<!ELEMENT BaseContent ANY>
<!ATTLIST BaseContent id ID #REQUIRED>
<!ELEMENT BaseLocatableContent ANY>
<!ATTLIST BaseLocatableContent id ID #REQUIRED>
<!ELEMENT Chapter ANY>
<!ATTLIST Chapter id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT Map ANY>
<!ATTLIST Map id ID #REQUIRED>
<!ELEMENT Overlay ANY>
<!ATTLIST Overlay id ID #REQUIRED>
<!ELEMENT PthArtifact ANY>
<!ATTLIST PthArtifact id ID #REQUIRED>
<!ELEMENT PthMonster ANY>
<!ATTLIST PthMonster id ID #REQUIRED>
<!ELEMENT PthNPC ANY>
<!ATTLIST PthNPC id ID #REQUIRED>
<!ELEMENT Reference ANY>
<!ATTLIST Reference id ID #REQUIRED>
<!ELEMENT Section ANY>
<!ATTLIST Section id ID #REQUIRED>
<!ELEMENT World ANY>
<!ATTLIST World id ID #REQUIRED>

]>
<root id="-1">
  <World id="1075" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-08-11T13:22:58" updateDate="2014-08-11T13:58:03" nodeName="BlackDragon" urlName="blackdragon" path="-1,1075" isDoc="" nodeType="1073" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1060" nodeTypeAlias="World">
    <title><![CDATA[The Black Dragon Test World]]></title>
    <subtitle><![CDATA[The Black Dragon Games Development world for testing purposes]]></subtitle>
    <copyright><![CDATA[Copyright {0} Black Dragon Games]]></copyright>
    <Adventure id="1076" parentID="1075" level="2" creatorID="0" sortOrder="0" createDate="2014-08-11T13:22:58" updateDate="2014-08-11T13:58:04" nodeName="adv1" urlName="adv1" path="-1,1075,1076" isDoc="" nodeType="1062" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1050" nodeTypeAlias="Adventure">
      <title><![CDATA[The Evil Tower of Evil]]></title>
      <subtitle><![CDATA[A Pathfinder adventure for 4-6 1st level characters ]]></subtitle>
      <Chapter id="1077" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2014-08-11T13:22:58" updateDate="2014-08-11T13:58:04" nodeName="Introduction" urlName="introduction" path="-1,1075,1076,1077" isDoc="" nodeType="1064" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1052" nodeTypeAlias="Chapter">
        <title><![CDATA[Introduction]]></title>
        <subtitle><![CDATA[Introduction to The Evil Tower of Evil]]></subtitle>
        <Section id="1078" parentID="1077" level="4" creatorID="0" sortOrder="0" createDate="2014-08-11T13:22:58" updateDate="2014-08-11T13:58:04" nodeName="Background" urlName="background" path="-1,1075,1076,1077,1078" isDoc="" nodeType="1072" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1059" nodeTypeAlias="Section">
          <title><![CDATA[Background]]></title>
          <subtitle><![CDATA[The Background to the Adventure]]></subtitle>
          <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
          <bodyText><![CDATA[<h2>The Plot Summary</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
          <mapLink>1103</mapLink>
        </Section>
        <Section id="1079" parentID="1077" level="4" creatorID="0" sortOrder="1" createDate="2014-08-11T13:22:58" updateDate="2014-08-11T13:58:04" nodeName="The Story" urlName="the-story" path="-1,1075,1076,1077,1079" isDoc="" nodeType="1072" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1059" nodeTypeAlias="Section">
          <title><![CDATA[The Story]]></title>
          <subtitle><![CDATA[The story of the adventure]]></subtitle>
          <bodyText><![CDATA[<h2>The Story Summary</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
          <mapLink>1103</mapLink>
        </Section>
        <Section id="1080" parentID="1077" level="4" creatorID="0" sortOrder="2" createDate="2014-08-11T13:22:58" updateDate="2014-08-11T13:58:04" nodeName="The Darkening Moors" urlName="the-darkening-moors" path="-1,1075,1076,1077,1080" isDoc="" nodeType="1072" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1059" nodeTypeAlias="Section">
          <title><![CDATA[The Darkening Moors]]></title>
          <subtitle><![CDATA[Outside the tower, the moors spread for miles]]></subtitle>
          <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."]]></headerText>
          <bodyText><![CDATA[<h2>The Darkening Moors</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
          <mapLink>1103</mapLink>
        </Section>
      </Chapter>
      <Chapter id="1081" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="The Evil Tower of Evil" urlName="the-evil-tower-of-evil" path="-1,1075,1076,1081" isDoc="" nodeType="1064" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1052" nodeTypeAlias="Chapter">
        <title><![CDATA[The Evil Tower of Evil]]></title>
        <subtitle><![CDATA[The Evil tower where Evil lurks]]></subtitle>
        <Section id="1082" parentID="1081" level="4" creatorID="0" sortOrder="0" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="The Entrance Chamber" urlName="the-entrance-chamber" path="-1,1075,1076,1081,1082" isDoc="" nodeType="1072" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1059" nodeTypeAlias="Section">
          <title><![CDATA[1. The Entrance Chamber]]></title>
          <subtitle><![CDATA[Sneaky traps await the adventurers]]></subtitle>
          <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
          <bodyText><![CDATA[<h2>The Entrance Chamber</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
          <mapLink>1106</mapLink>
        </Section>
        <Section id="1083" parentID="1081" level="4" creatorID="0" sortOrder="1" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="The Inner Circle" urlName="the-inner-circle" path="-1,1075,1076,1081,1083" isDoc="" nodeType="1072" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1059" nodeTypeAlias="Section">
          <title><![CDATA[2. The Inner Circle]]></title>
          <subtitle><![CDATA[A terrible demon stalks them in the darkness]]></subtitle>
          <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
          <bodyText><![CDATA[<h2>The Inner Circle</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
          <mapLink>1106</mapLink>
        </Section>
        <Section id="1084" parentID="1081" level="4" creatorID="0" sortOrder="2" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="The Stairs Up" urlName="the-stairs-up" path="-1,1075,1076,1081,1084" isDoc="" nodeType="1072" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1059" nodeTypeAlias="Section">
          <title><![CDATA[3. The Stairs Up]]></title>
          <subtitle><![CDATA[Gloomy spiralling staircase takes the characters higher]]></subtitle>
          <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."]]></headerText>
          <bodyText><![CDATA[<h2>The Stairs Up</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></bodyText>
          <mapLink>1106</mapLink>
        </Section>
      </Chapter>
      <Map id="1085" parentID="1076" level="3" creatorID="0" sortOrder="2" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="The Moors" urlName="the-moors" path="-1,1075,1076,1085" isDoc="" nodeType="1066" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1053" nodeTypeAlias="Map">
        <title><![CDATA[The Darkening Moors]]></title>
        <subtitle><![CDATA[A land of dank trouble]]></subtitle>
        <width><![CDATA[2316]]></width>
        <height><![CDATA[1636]]></height>
        <generatorApp><![CDATA[Tilen]]></generatorApp>
        <fileExtension><![CDATA[jpg]]></fileExtension>
        <mapFilesPath><![CDATA[/mapmedia/moors/]]></mapFilesPath>
        <Overlay id="1086" parentID="1085" level="4" creatorID="0" sortOrder="0" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="Overlay1" urlName="overlay1" path="-1,1075,1076,1085,1086" isDoc="" nodeType="1067" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1054" nodeTypeAlias="Overlay">
          <title><![CDATA[The Evil Tower]]></title>
          <subtitle><![CDATA[Here stands the brooding tower]]></subtitle>
          <x><![CDATA[100]]></x>
          <y><![CDATA[100]]></y>
          <overlayNumber><![CDATA[1]]></overlayNumber>
          <overlayType><![CDATA[Encounter]]></overlayType>
          <locked>1</locked>
          <sectionLink>1097</sectionLink>
        </Overlay>
        <Overlay id="1087" parentID="1085" level="4" creatorID="0" sortOrder="1" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="Overlay2" urlName="overlay2" path="-1,1075,1076,1085,1087" isDoc="" nodeType="1067" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1054" nodeTypeAlias="Overlay">
          <title><![CDATA[The Den of the Wolf]]></title>
          <subtitle><![CDATA[A fierce wolf hides in the depths of the cave]]></subtitle>
          <x><![CDATA[500]]></x>
          <y><![CDATA[500]]></y>
          <overlayNumber><![CDATA[2]]></overlayNumber>
          <overlayType><![CDATA[Encounter]]></overlayType>
          <locked>1</locked>
          <sectionLink>1102</sectionLink>
        </Overlay>
      </Map>
      <Map id="1088" parentID="1076" level="3" creatorID="0" sortOrder="3" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="The Evil Tower. Level 1" urlName="the-evil-tower-level-1" path="-1,1075,1076,1088" isDoc="" nodeType="1066" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1053" nodeTypeAlias="Map">
        <title><![CDATA[The Evil Tower of Evil. Level 1]]></title>
        <subtitle><![CDATA[The first level of the tower]]></subtitle>
        <width><![CDATA[1536]]></width>
        <height><![CDATA[1536]]></height>
        <generatorApp><![CDATA[Tilen]]></generatorApp>
        <fileExtension><![CDATA[png]]></fileExtension>
        <mapFilesPath><![CDATA[/mapmedia/tower-level-1/]]></mapFilesPath>
        <Overlay id="1089" parentID="1088" level="4" creatorID="0" sortOrder="0" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="Overlay1" urlName="overlay1" path="-1,1075,1076,1088,1089" isDoc="" nodeType="1067" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1054" nodeTypeAlias="Overlay">
          <title><![CDATA[1. The Entrance Chamber]]></title>
          <subtitle><![CDATA[The shattered and forbidding entrance chamber]]></subtitle>
          <x><![CDATA[100]]></x>
          <y><![CDATA[100]]></y>
          <overlayNumber><![CDATA[1]]></overlayNumber>
          <overlayType><![CDATA[Encounter]]></overlayType>
          <locked>1</locked>
          <sectionLink>1098</sectionLink>
        </Overlay>
        <Overlay id="1090" parentID="1088" level="4" creatorID="0" sortOrder="1" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="Overlay2" urlName="overlay2" path="-1,1075,1076,1088,1090" isDoc="" nodeType="1067" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1054" nodeTypeAlias="Overlay">
          <title><![CDATA[2. The Inner Circle]]></title>
          <subtitle><![CDATA[At the centre of the tower, a circular chamber awaits]]></subtitle>
          <x><![CDATA[500]]></x>
          <y><![CDATA[500]]></y>
          <overlayNumber><![CDATA[2]]></overlayNumber>
          <overlayType><![CDATA[Encounter]]></overlayType>
          <locked>1</locked>
          <sectionLink>1099</sectionLink>
        </Overlay>
        <Overlay id="1091" parentID="1088" level="4" creatorID="0" sortOrder="2" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="Overlay3" urlName="overlay3" path="-1,1075,1076,1088,1091" isDoc="" nodeType="1067" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1054" nodeTypeAlias="Overlay">
          <title><![CDATA[3. The Stairs Up]]></title>
          <subtitle><![CDATA[The stone stairs here take the adventurers higher]]></subtitle>
          <x><![CDATA[1000]]></x>
          <y><![CDATA[1000]]></y>
          <overlayNumber><![CDATA[3]]></overlayNumber>
          <overlayType><![CDATA[Encounter]]></overlayType>
          <locked>1</locked>
          <sectionLink>1100</sectionLink>
        </Overlay>
      </Map>
    </Adventure>
    <Map id="1092" parentID="1075" level="2" creatorID="0" sortOrder="1" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="Valcia" urlName="valcia" path="-1,1075,1092" isDoc="" nodeType="1066" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1053" nodeTypeAlias="Map">
      <title><![CDATA[The Land of Valcia]]></title>
      <subtitle><![CDATA[A big land with lots of adventure in it]]></subtitle>
      <width><![CDATA[2279]]></width>
      <height><![CDATA[1709]]></height>
      <generatorApp><![CDATA[Seadragon]]></generatorApp>
      <fileExtension><![CDATA[png]]></fileExtension>
      <mapFilesPath><![CDATA[/mapmedia/valcia/]]></mapFilesPath>
      <Overlay id="1093" parentID="1092" level="3" creatorID="0" sortOrder="0" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="Overlay1" urlName="overlay1" path="-1,1075,1092,1093" isDoc="" nodeType="1067" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1054" nodeTypeAlias="Overlay">
        <title><![CDATA[The Evil Towe of Evil]]></title>
        <subtitle><![CDATA[The adventure in the Evil Tower of Evil]]></subtitle>
        <x><![CDATA[100]]></x>
        <y><![CDATA[100]]></y>
        <overlayNumber><![CDATA[1]]></overlayNumber>
        <overlayType><![CDATA[Adventure]]></overlayType>
        <locked>1</locked>
        <sectionLink>1092</sectionLink>
      </Overlay>
    </Map>
    <Section id="1094" parentID="1075" level="2" creatorID="0" sortOrder="2" createDate="2014-08-11T13:22:59" updateDate="2014-08-11T13:58:04" nodeName="Introduction" urlName="introduction" path="-1,1075,1094" isDoc="" nodeType="1072" creatorName="Ed Soanes" writerName="Ed Soanes" writerID="0" template="1059" nodeTypeAlias="Section">
      <title><![CDATA[Introduction to Valcia]]></title>
      <subtitle><![CDATA[Introduction to the Land of Valcia]]></subtitle>
      <headerText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></headerText>
    </Section>
  </World>
</root>